body {
    background-image: url("https://cdn.computerhoy.com/sites/navi.axelspringer.es/public/media/image/2018/06/que-orden-ver-peliculas-star-wars.jpg?tf=1200x");
    background-repeat: repeat;
    background-size: cover;
    background-color: black ;
}
